<div class="page-header">
    <h1><%= tasklist.title %></h1>
</div>




<div class="well">
    <%- link_to('<i class="icon-edit icon-white"></i> Edit', path_to.edit_project_tasklist(project, tasklist), {class: 'btn btn-primary'}) %>
    <%- link_to('<i class="icon-remove icon-white"></i> Delete', path_to.project_tasklist(project, tasklist), {class: 'btn btn-danger', method: 'delete', remote: true, jsonp: '(function (u) { location.href = u; })'}) %>
    or
    <%- link_to('Back to index', path_to.project(project)) %>
</div>


<div class="row">
    <div class="span12">
        <% if (tasks.length > 0) { %>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% tasks.forEach(function (task) { %>
                        <tr>
                            <td><strong><%- link_to(task.title, path_to.project_task(project, task)) %></strong></td>
                            <td>
                                <%- link_to('<i class="icon-edit"></i> Edit', path_to.edit_project_task(project, task), {class: 'btn btn-mini'}) %>
                                <%- link_to('<i class="icon-remove icon-white"></i> Delete', path_to.project_task(project,task), {class: 'btn btn-mini btn-danger', method: 'delete', remote: true, jsonp: '(function (u) {location.href = u;})'}) %>        
                            </td>
                        </tr>
                    <% }); %>        
                </tbody>
            </table>
        <% } %>
            
    </div>
</div>

<div class="row well width8">
<% form_for(newTask, {action: path_to.project_tasks(project), method: 'POST', id: "task_form", class: 'form-horizontal'}, function (form) { %>
    <%- partial('tasks/form.ejs', {locals: {form: form, task: newTask, tasklistId: tasklist.id}}) %>
    <div class="form-actions">
        <%- form.submit('<i class="icon-ok icon-white"></i> Create task', {class: 'btn btn-primary'}) %> 
    </div>
<% });%>
</div>

