<%- errorMessagesFor(task) %>
<input type="hidden" name="tasklist_id" value="<%= tasklistId %>" >
<div class="control-group">
   <%- form.label("title", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("title") %>
   </div>
</div>


<div class="control-group">
   <%- form.label("user", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("user") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("finishTime", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("finishTime") %>
   </div>
</div>


<div class="control-group">
   <%- form.label("status", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("status") %>
   </div>
</div>
