<%- errorMessagesFor(project) %>
<div class="control-group">
   <%- form.label("name", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("name") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("description", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("description") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("permission", false, {class: "control-label"}) %>
   <div class="controls">
      <label>
          <input name="Project[permission]" value="public" type="radio" 
          <% if (project.permission == "public") { %>checked="checked"<% } %> >
          Public
        </label>
      <label>
          <input name="Project[permission]" value="private" type="radio" 
          <% if (project.permission == "private") { %>checked="checked"<% } %> >
          Private
        </label>
   </div>
</div>

