<%- errorMessagesFor(project) %>
<div class="control-group">
   <%- form.label("name", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("name") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("description", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("description") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("permission", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("permission") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("created", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("created") %>
   </div>
</div>
