<div class="page-header">
    <h1><%= project.name %></h1>
</div>

<div class="navbar navbar-inverse">
<div class="navbar-inner">
<div class="nav-collapse">
    <ul class="nav">
        <li><%- link_to('Back to index', path_to.projects()) %>
        </li>
        <li>
            <%- link_to('Settings', path_to.projects()) %>
        </li>
    </ul>
</div>
</div>
</div>



<div class="row well">
    <div class="span11">

        <% if (tasklists.length > 0) { %>
            <table class="table table-striped">
                <thead>
                    <tr class="row-fluid">
                        <th>Title</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% tasklists.forEach(function (tasklist) { %>
                        <tr class="row-fluid">
                            <td><%- link_to('<i class="icon-edit"></i> Edit', path_to.edit_project_tasklist(project, tasklist), {class: 'btn btn-mini'}) %>
                            <strong class="offset0"><%- link_to(tasklist.title, path_to.project_tasklist(project, tasklist)) %></strong></td>
                            <td>
                                
                                <%- link_to('<i class="icon-remove icon-white"></i> Delete', path_to.project_tasklist(project, tasklist), {class: 'btn btn-mini btn-danger', method: 'delete', remote: true, jsonp: '(function (u) {location.href = u;})'}) %>        
                            </td>
                        </tr>

                        <tr class="row-fluid">
                        <td colspan=2>
                            <% var tasks = [] %>

                                <div class="row">
                                    <div class="span12">
                                        <% if (tasks.length > 0) { %>
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% tasks.forEach(function (task) { %>
                                                        <tr>
                                                            <td><strong><%- link_to('task #' + task.id, path_to.task(task)) %></strong></td>
                                                            <td>
                                                                <%- link_to('<i class="icon-edit"></i> Edit', path_to.edit_task(task), {class: 'btn btn-mini'}) %>
                                                                <%- link_to('<i class="icon-remove icon-white"></i> Delete', path_to.task(task), {class: 'btn btn-mini btn-danger', method: 'delete', remote: true, jsonp: '(function (u) {location.href = u;})'}) %>        
                                                            </td>
                                                        </tr>
                                                    <% }); %>        
                                                </tbody>
                                            </table>
                                        <% }  %>
                                    </div>
                                </div>

                        </td>
                        </tr>

                    <% }); %>        
                </tbody>
            </table>
        <% } else { %>
            <p class="alert alert-block alert-info">
                <strong>No tasklists were found.</strong> 
            </p>
        <% } %>
    </div>
</div>



<div ng-controller="TodoCtrl">
      <span>{{remaining()}} of {{todos.length}} remaining</span>
      [ <a href="" ng-click="archive()">archive</a> ]
      <ul class="unstyled">
        <li ng-repeat="todo in todos">
          <input type="checkbox" ng-model="todo.done">
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
      </ul>
      <form ng-submit="addTodo()">
        <input type="text" ng-model="todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
      </form>
</div>



<div ng-controller="TaskListController">
      <span>{{remaining()}} of {{tasklists.length}} remaining</span>
     
      <ul class="unstyled">
        <li ng-repeat="tasklist in tasklists">
          <span class="status-{{tasklist.status}}">

          <a href="/projects/#/tasklists/{{tasklist.id}}">{{tasklist.title}}</a>
            
          </span>
        </li>
      </ul>
      <form ng-submit="addTaskList()">
        <input type="text" ng-model="todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
      </form>
</div>



<div class="row well width8">
<% form_for(newTasklist, {action: path_to.project_tasklists(project), method: 'POST', id: "tasklist_form", class: 'form-horizontal '}, function (form) { %>
    <%- partial('tasklists/form.ejs', {locals: {form: form, tasklist: newTasklist}}) %>
    <div class="form-actions">
        <%- form.submit('<i class="icon-ok icon-white"></i> Create tasklist', {class: 'btn btn-primary'}) %>
    </div>
<% });%>
</div>