<!doctype html>
<html lang="en" ng-app="powerproject">
<head>
  <meta charset="utf-8">
  <title>Google Phone Gallery</title>
  <%- stylesheet_link_tag('bootstrap.min', 'bootstrap-responsive', 'style') %>

  <script src="/javascripts/angular.min.js"></script>
  <script src="/javascripts/jquery.min.js"></script>


  <%- csrf_meta_tag() %>

</head>
<body>

<div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="<%- path_to.projects() %>">Projects</a>
                    <a class="brand" href="<%- path_to.users() %>">Users</a>
                </div>
            </div>
        </div>

         <div class="container">
            <% var flash = request.flash('info').pop(); if (flash) { %>
                <div class="alert alert-info">
                    <a class="close" data-dismiss="alert">×</a>
                    <%- flash %>
                </div>
            <% } %>
            
            <% flash = request.flash('error').pop(); if (flash) { %>
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert">×</a>
                    <%- flash %>
                </div>
            <% }; %>
              
            <%- body %>
            
            <%- csrf_tag() %>
            <div ng-view>
             
            </div>

            <footer>
                <p>&copy; Company 2012</p>
            </footer>

        </div>


    
              <script src="/angular/javascripts/app.js"></script>
  <script src="/angular/javascripts/controllers.js"></script>
  <script src="/angular/javascripts/filters.js"></script>
  <script src="/angular/javascripts/services.js"></script>
  <script src="/angular/javascripts/angular-resource.js"></script>

<script src="/javascripts/power.js"></script>

</body>
</html>
